@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}



:root {
    --primary-color: #f34c55;
    --secondary-color: #171d22;
    --backdrop-color: #000;
}

body {
  background: #43423E;
}
.header {
    width: 100%;
    height: 150px;
    background-color:#000;
}

.header .container {
    width: 700px;
    height: 100px;
    position: absolute;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding-left: 450px;
    
}


.header .container .main {
   
  
  border-color: #ccc;
  position: absolute;
  width: 100px;
  height: 120px;
  align-content: right;
  
}

.header .container .logo {
    color: #fff;
    font-size: 100px;
    font-family: 'Nunito', serif;
    font-weight: 500;
    cursor: pointer;
    align-content: center;
}

.header .container .iconDetails {
 
 float:center; 
 width: 400px;
 height: 150px;
 object-fit: cover;
 border: 1px solid #ddd;
  border-radius: 2px;
  padding: 0px;
 } 
 

.header .container   label{
    width: 32px;
    height: 32px;
    opacity: 0;
    visibility: hidden;
    display: none;
}

.header .container .menu {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}
    
    

.header .container .menu a {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-right: 35px;
    transition: 150ms color ease-in-out;
}
.header .container .menu a svg {
    margin-bottom: 5px;
}

.header .container .menu a:hover {
    color:  var(--primary-color);
}
.header .container .menu a svg {
    transition: 150ms fill ease-in-out;
}

.header .container .menu a:hover svg {
    fill: var(--primary-color)!important;
}
.header .container  .user-actions .signin {
    width: 100px;
    height: 45px;
    background-color: #f34c55;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: 200ms background-color ease-in-out;
}
.header .container  .user-actions .signin:hover {
    background-color: #f34c54e1;
}



*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: c;
}

a {
  text-decoration: none;
  color: #5C7FB8
}

a:hover {
  text-decoration: underline;
}

* {
    box-sizing: border-box;
  }

  /*side bar*/
  body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 245, 245);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #0e0a0a;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #811616;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
 
  .link{
    display: grid;
    text-align: center;
    color: #777;
    text-decoration: none;
    padding: 10px;
  }
  
  
    
  
      .movie_header{
        position: relative;
        padding: 25px;
        height: 40%;
      }
        
    
        .minutes{
          display: inline-block;
          margin-top: 15px;
          color: #555;
          padding: 5px;
          border-radius: 5px;
          border: 1px solid rgba(0,0,0,0.05);
        }
        .type{
          display: inline-block;
          color: #959595;
          margin-left: 10px;
        }
        .locandina{
          position: relative;
          float: left;
          margin-right: 20px;
          width: 150px;
          height: 250spx;
          box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
        }
      
      .movie_desc{
        padding: 25px;
        height: 70%;
  
      }
        .text{
          color: #545454;
        }
      
      .movie_social{
        height: 10%;
        padding-left: 15px;
        padding-bottom: 20px;
      }
        ul{
          list-style: none;
          padding: 0;
        }
  
          li{
            display: inline-block;
            color: rgba(0,0,0,0.3);
            transition: color 0.3s;
            transition-delay: 0.15s;
            margin: 0 10px;
          }
            i{
              font-size: 19px;
              cursor: pointer;
            }
          
  
    .blur_back{
      position: absolute;
      top: 0;
      z-index: 1;
      height: 100%; right: 0;
      background-size: cover;
      border-radius: 11px;
    }
  
  
  @media screen and (min-width: 768px) {
    .movie_header{
      width: 65%;
    }
    
    .movie_desc{
      width: 50%;
    }
    
    .info_section{
      background: linear-gradient(to right, #e5e6e6 50%, transparent 100%);
    }
    
    .blur_back{
      width: 80%;
      background-position: -100% 10% !important;  
    }
  }
  
  @media screen and (max-width: 768px) {
    .movie_card{
      width: 95%;
      margin: 70px auto; 
      min-height: 350px;
      height: auto;
    }
    
    .blur_back{
      width: 100%;
      background-position: 50% 50% !important;  
    }
    
    .movie_header{
      width: 100%;
      margin-top: 85px;
    }
    
    .movie_desc{
      width: 100%;
    }
    
    .info_section{
      background: linear-gradient(to top, #e5e6e6 50%, transparent 100%);
      display: inline-grid;
    }
  }
  
  .btn {
      background-color: rgb(191, 241, 110);
      border: 10px solid gray-light;
      border-radius: 2px;
      color: gray-dark;
      padding: 0px;
      text-transform: none;
    }
    
    .btn--block {
      display: block;
      width: 100%;
  
    }
  
    /* Three image containers (use 25% for four, and 50% for two, etc) */
.row .column {
    float: left;
    width: 150px;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }